header#top(role='banner')
  h1 Sportsherd 
  a.nav-open(href='#nav') Site Nav

nav#nav(role='navigation')
  h2 Profile
  ul
    li.is-active
      a(href='#') Teams                
    li
      a(href='#') Events
    li
      a(href='#') Log Out                 
  a.nav-close(href='#top') Return to Content

.main(role='main')
