h3.upcoming.clickable Current Team Events
ul.upcoming.hidden
  li.upcoming-event
    div.event-name Coconut Bangers Ballclub vs Base Knockers
    div.event-time Fri, Mar 2 8:40PM - Nottoway 2
  li.upcoming-event
    div.event-name Coconut Bangers Ballclub vs Dirty Leathers
    div.event-time Fri, Mar 9 8:40PM - Nottoway 2

h3.teams.clickable Teams
ul.teams.hidden
  li.team
    div.team-name Coconut Bangers Ballclub

h3.events.clickable Events
ul.events.hidden
  li.event
    div.event-name Coconut Bangers Ballclub vs Dirty Leathers
    div.event-outcome 15 - 8
  li.event
    div.event-name Coconut Bangers Ballclub vs Base Knockers
    div.event-time Fri, Mar 2 8:40PM - Nottoway 2

h3.account.clickable Account
ul.account.hidden
  li.account
    div.name Brett Gardner