h2 Dashboard

h3.upcoming.clickable Current Team Events
p.hidden Upcoming team events

h3.teams.clickable Teams
p.hidden Your current teams

h3.events.clickable Events
p.hidden Your events

h3.account.clickable Account
p.hidden Your account