.profile
  div
    span.profilePic(style="background-image: url('http://graph.facebook.com/#{facebookId}/picture?type=square')")
    = displayName
ul
  li.is-active
    a.dashboard 
      i.icon-home
      | Home
  li
    a.teams 
      i.icon-group
      | Teams
  li
    a.events
      i.icon-calendar
      | Events
  li
    a.logout
      i.icon-off
      | Log Out