include mixins/emailAddress_mixin
.row
    .media
        .media-image
            img.thumbnail.profilePicture(src='http://graph.facebook.com/#{facebookId}/picture?type=large')
        .media-body
            .media-heading #{displayName}
            div: a(href='#{profileUrl}', target='_blank') Profile

- emails.forEach(function(emailAddress) {
  mixin email(emailAddress)
- })