doctype 5
html
  head
    title Sportsherd
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Raleway:700,200',rel='stylesheet',type='text/css')
    != css('app')
  body
    .wrapper
      .container
    script(type='text/javascript')
      window.CSRF = '#{locals.csrf_token}';
    != js('app')