doctype 5
html
  head
    title Sportsherd
  body
    .wrapper
      .container
        h1 Sportsherd
        h2 Logged Out
        p You have been logged out of 
          strong SportsHerd
        p Click here to 
          a(href='/') login