h2 Create a Team

h3 This will create a new group on Facebook

div: label Team Name
div: input#name(placeholder="i.e. Ninja Cats")

div: label Team Description
div: input#description(placeholder='i.e. Cats that have have been trained to be ninjas')

div: label Group Privacy Level
div
  select#privacy
    option(value='open') Open
    option(value='closed') Closed
    option(value='secret') Secret

div.status

div: input.next(type='button', value='Next')