h2 Create a Team

h3 This will create a new group on Facebook

.status
form
  fieldset
    .form-group
      label Team Name
      input#name.form-control(placeholder="i.e. Ninja Cats")
    .form-group
      label Team Description
      input#description.form-control(placeholder='i.e. Cats that have have been trained to be ninjas')
    .form-group
      label Group Privacy Level
      select#privacy.form-control
        option(value='open') Open
        option(value='closed') Closed
        option(value='secret') Secret
.size1of1
  input.btn.btn-primary.btn-block.next(type='button', value='Next')