//Basic Grid System 
.group{overflow:hidden;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important}
.line{zoom:1}
.line:before,.line:after{content:" ";display:table}
.line:after{clear:both}
.lastUnit{overflow:hidden;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important;padding-left:15px;padding-right:15px;float:none;width:auto}
.unit{float:left;overflow:hidden;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important;padding-left:15px;padding-right:15px;box-sizing:border-box;}
.size8of8{width:100%}
.size7of8{width:87.5%}
.size6of8{width:75%}
.size5of8{width:62.5%}
.size4of8{width:50%}
.size3of8{width:37.5%}
.size2of8{width:25%}
.size1of8{width:12.5%}
.size4of4{width:100%}
.size3of4{width:75%}
.size2of4{width:50%}
.size1of4{width:25%}
.size2of2{width:100%}
.size1of2{width:50%}
.size3of3{width:100%}
.size2of3{width:66.66666666666666%}
.size1of3{width:33.33333333333333%}
.size1of1{width:100%}
.size1of1.restrict-width{max-width:1200px}
.size1of2:first-child{max-width:580px}
.size1of2.maintain-width{max-width:inherit}

/*Media Block*/
.media .float-left{padding-right:15px}
.media .float-right{padding-left:15px}
.media,.media-body{overflow:hidden;_overflow:visible;zoom:1}
.media .media-image{float:left;margin:.125em .9375em .125em .125em}
.media .media-image img{display:block}
.media-heading{margin-bottom:6px}


ul.list
    margin 0px
    list-style-type none
    li
        padding 5px 0px
        margin-bottom 2px
        background-color $white
        overflow hidden   
        a
            padding 10px
            display block
        img
            border-radius 50%
            border 1px solid $black
            width 50px
            height 50px
            background-size 50px 50px


