#nav
  position absolute
  top 0
  overflow hidden
  height 100%
  width 260px
  background $navcolor
  color $navcolorlight2
  left 0
  z-index 1
  font-family $altfont

  .profile
    padding 10px
    border-top 1px solid $navcolorlight
    border-bottom 1px solid $navcolordark
  ul
    list-style none
    margin 0
    padding 0
    li
      margin 0
      padding 0
      border-top 1px solid $navcolorlight
      border-bottom 1px solid $navcolordark
      a
        display block
        width 100%
        padding 10px


.header
  padding 10px
  h1
    line-height 1em
    margin 0

.nav-btn
  display block
  float left
  width 32px
  height 32px
  padding 0
  border 0
  outline none
  background #90cd98
  color white
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  border-radius 4px
  margin-right 10px
  font-size 1.4em
  text-indent 6px
  line-height 1.5em

.page
  position relative
  width 100%
  height 100%
  background $bodycolor
  z-index 100
  left 0 !important
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow hidden

.showNav
  .page
    -webkit-transform: translate3d(260px, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(260px, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(260px, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(260px, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(260px, 0, 0) scale3d(1, 1, 1);

.content
    padding 10px