.unit.size1of1
    .media
        .media-image
            img(src='http://graph.facebook.com/#{facebookGroupId}/picture??width=100&height=100')
        .media-body
            .media-heading 
                a.team(href='/teams/#{_id}')= name
