.row
    .media
        .media-image
            img.thumbnail.profilePicture(src='http://graph.facebook.com/#{facebookGroupId}/picture?width=200&height=200')
        .media-body
            .media-heading #{name}
