h3.events.clickable Events
ul.events.hidden
  li.event
    div.event-name Coconut Bangers Ballclub vs Dirty Leathers
    div.event-outcome 15 - 8
  li.event
    div.event-name Coconut Bangers Ballclub vs Base Knockers
    div.event-time Fri, Mar 2 8:40PM - Nottoway 2