h3.upcoming.clickable Current Team Events
ul.upcoming.hidden
  li.upcoming-event
    div.event-name Coconut Bangers Ballclub vs Base Knockers
    div.event-time Fri, Mar 2 8:40PM - Nottoway 2
  li.upcoming-event
    div.event-name Coconut Bangers Ballclub vs Dirty Leathers
    div.event-time Fri, Mar 9 8:40PM - Nottoway 2